</br>

<div class="center jumbotron">
  <h1>Bem vindo ao King Boat!</h1>
  <p> </br>King Boat, o melhor lugar para se alugar barcos! </p></br>
  <p><a class="btn btn-primary btn-lg btn-right" href="#" role="button">Cadastre-se</a></p>
</div>

</br>
</br>

<div class="row" >
    
    <div class="col-lg-4">
        <h1 class="midrow">
            Vis達o do site
        </h1>
        <h3 class="left">
            A empresa tem como vis達o bsakaksaldmnla
        </h3>
    </div>
    
    <div class="col-lg-4">
        <h1 class="midrow">
            Valores
        </h1>
        <h3 class="left">
            A empresa tem como valores bsakaksaldmnla
        </h3>
    </div>
    
    <div class="col-lg-4">
        <h1 class="midrow">
            Miss達o
        </h1>
        <h3 class="left">
            A empresa tem como miss達o bsakaksaldmnla
        </h3>
    </div>
    
</div>

